<h3>Data Cleaning</h3>

In [1]:
import pandas as pd

In [2]:
rawData = pd.read_csv('FineTech_Data.csv')
rawData.head()

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1

In [3]:
rawData.isna().sum()

user                        0
first_open                  0
dayofweek                   0
hour                        0
age                         0
screen_list                 0
numscreens                  0
minigame                    0
used_premium_feature        0
enrolled                    0
enrolled_date           18926
liked                       0
dtype: int64

In [4]:
# remove unneccesary data
cleanData = rawData.drop(['user','first_open','dayofweek','hour','age','screen_list','enrolled_date'],axis=1)
cleanData.head()

   numscreens  minigame  used_premium_feature  enrolled  liked
0          15         0                     0         0      0
1          13         0                     0         0      0
2           3         0                     1         0      1
3          40         0                     0         1      0
4          32         0                     0         1      1

<h3>Train Model</h3>

In [5]:
import sklearn.model_selection as split
from sklearn.preprocessing import StandardScaler as scaler

In [6]:
data = split.train_test_split(cleanData.iloc[:,[0,1,2,4]],cleanData.iloc[:,3],test_size=0.20)
trainInput = data[0]
testInput = data[1]
trainOutput = data[2]
testOutput = data[3]

In [7]:
scalerModel = scaler()
trainInputScaled = scalerModel.fit_transform(trainInput)
testInputScaled = scalerModel.transform(testInput)

<h3>Decision Tree</h3>

In [12]:
from sklearn.tree import DecisionTreeClassifier as dcModel
dcModel = dcModel(criterion='entropy', random_state=0)
dcModel.fit(trainInputScaled,trainOutput)
dcModel.score(testInputScaled,testOutput)

0.6611

<h3>Navie Bayes</h3>

In [13]:
from sklearn.naive_bayes import GaussianNB 
nbModel = GaussianNB()
nbModel.fit(trainInput,trainOutput)
nbModel.score(testInput,testOutput)

0.6456

<h3>SVM</h3>

In [14]:
from sklearn.svm import SVC 
svmModel = SVC(kernel='linear',random_state=0)
svmModel.fit(trainInput,trainOutput)
svmModel.score(testInput,testOutput)

0.6164

<h3>KNN</h3>

In [15]:
from sklearn.neighbors import KNeighborsClassifier
knnModel =  KNeighborsClassifier(n_neighbors=15)
knnModel.fit(trainInputScaled,trainOutput)
knnModel.score(testInputScaled,testOutput)

0.6591

<h3>Here Decision Tree and KNN is more accurate than others so we will choice one of them.</h3>

In [25]:
numscreens = int(input("Number of Screens :")) 
minigame = int(input("Is Mini Game played (0/1) :"))
used_premium_feature = int(input("Used Premium Feature (0/1): "))
liked = int(input("Like App (0/1): "))

enrolled = dcModel.predict([[numscreens,minigame,used_premium_feature,liked]])

if enrolled == 1:
    print("\nUser will subscribe premium feature")
else:
    print("\nUser will not subscribe premium feature")

Number of Screens :3
Is Mini Game played (0/1) :0
Used Premium Feature (0/1): 1
Like App (0/1): 1

User will subscribe premium feature